*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white;
}
.nav{
    margin-top: -10.5%;
    background-color: #ed9f38;
    height: 120px;
}
.h{
    margin-right: 300px;
    font-size: 25px;
    margin-top: 1%;
    
}
.imag{
    height: 120px;
    width: 300px;
    margin-top: 10%;
}
.f1{
    height: 120px;
    width: 1445px;
    display: flex;
    align-items: center;
    background-color: #ed9f38;
}
.gt{
    margin-left: 220px;
    font-size: 30px;
    margin-top: 2%;
    margin-bottom: 30px;

}
.gf{
    margin-left: 50px;
    font-size: 30px;
    margin-top: 2%;
    margin-bottom: 30px;
}

.if{
    margin-left: 50px;
    font-size: 30px;
    margin-top: 2%;
    margin-bottom: 30px;
}
.themain{
    margin-top: -60px;
}
.mid{
    margin-top: 5%;
    font-size: 24px;
    margin-right: 20%;
    margin-left: 3%;
    color: #254163;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.ms{
    display: flex;
    padding: 10px;
    
}
.ct{
    margin-top: 150px;
    margin-left: 30px;
}
.lg{
    margin-top: 50px;
    margin-left: 33px;

}
.m{
    background-color: black;
    height: 280px;
    display: flex;
    padding: 30px;
    border-radius: 20px;
}
.p1{
    
    background-color: aqua;
    height: 260px;
    width: 300px;
    border-radius: 20px;
    margin-left: 50px;
}
.p2{
    background-color: yellow;
    height: 260px;
    width: 300px;
    border-radius: 20px;
    margin-left: 20px;
}
.p3{
    background-color: red;
    height: 260px;
    width: 300px;
    border-radius: 20px;
    margin-left: 20px;
}
.p4{
    background-color: blue;
    height: 260px;
    width: 300px;
    border-radius: 20px;
    margin-left: 20px;
}

.foot{
    background-color: #3a5f8d;
    height: 500px;
    margin-top: 50px;
}
.wt{
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    margin-top: 50px;
}
.f1{
    margin-top: 150px;
}
.f2{
    margin-top: 50px;
}
.f3{
    margin-top: 50px;
}
.f4{
    margin-top: 50px;
}


.ph1{
    height: 200px;
    width: 300px;
    margin-top: -800px;
    margin-left: 1155px;
}
.ph2{
    height: 200px;
    width: 300px;
    margin-left: 483px;
    margin-top: -500px;
    margin-left: 1155px;
}
.ph3{
    height: 200px;
    width: 300px;
    margin-left: 0px;
    margin-top: -300px;
    margin-left: 1155px;
}
.ph4{
    height: 200px;
    width: 300px;
    margin-left: 0px;
    margin-top: -100px;
    margin-left: 1155px;
    
}