{% extends "nav.html" %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body >
    <div class="nav">
    <navbar>
    <div class="f1">
        <div class="gt">
        Family Trip<select type="checkbox" id="checkbox">
        <option value="blank">Leh Ladakh</option>
        <option value="blank">Himachal Pradesh</option>
        <option value="blank">Uddaipur</option>
                </select>
        </div>
        <div class="gf">
        Group Holidays <select type="checkbox" id="checkbox">
                <option value="blank">Mahabaleshwar</option>
                <option value="blank">Himachal Pradesh</option>
                <option value="blank">Mysore</option>
                <option value="blank">Darjeeling</option>
            </select>
        </div>
     
        <div class="if">
            Indian Holidays <select type="checkbox" id="checkbox">
                <option>Manali</option>
               <option value="chardham"><a href="{% url 'chardham' %}">Chardham Yatra</a></option>
                <option value="blank">Goa</option>
                <option value="blank">Kerala</option>
            </select> 
        </div>
    </div>
    </navbar>
<div class="themain">
   
    <div class="mid">
        Welcome to One Stop Travel Solutions, your passport to the world's wonders. 
        <br>
        Our journey began with a vision to redefine the travel experience, making it more than just a trip, but a transformational adventure. 
        
        With a deep-rooted passion for exploration and a commitment to excellence, we've set out to create memories that last a lifetime.
      
        At One Stop Travel Solutions, we understand that every traveler is unique, with their own desires, interests, and preferences. That's why we take the time to listen and tailor our services to your individual needs, ensuring that each journey reflects your personality and aspirations.

With decades of combined experience in the travel industry, our team of seasoned professionals possesses the knowledge and expertise to craft extraordinary experiences that exceed expectations. From boutique hotels to luxury resorts, adrenaline-pumping excursions to cultural immersions, we leave no stone unturned in our quest to provide you with the ultimate travel experience.
        <br>
        <br>
        <br>
        <br>
        But our dedication extends beyond just providing exceptional service. As stewards of the planet, we're committed to promoting sustainable travel practices that minimize our environmental impact and support local communities. By partnering with eco-conscious suppliers and participating in community-based tourism initiatives, we strive to leave a positive legacy wherever we go.

        At One Stop Travel Solutions, we don't just sell vacations – we create memories. Whether you're embarking on a solo adventure, a romantic getaway, or a family vacation, let us be your guide to the world's most breathtaking destinations.
        
     
        Join us as we embark on a journey of discovery, connection, and adventure. The world is waiting – let's explore it together with One Stop Travel Solutions.

        
        
        
        
       
        
        
        
       
        
        
        
        We are fully committed to work for the tourism industry’s growth and development.
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="t1">
        <div class="z1"><img class="ph1" src="https://img.traveltriangle.com/attachments/pictures/1110695/original/Gulmarg_is_a_hill_station.jpg"></div>
        <div class="z2"><img class="ph2" src="https://cdn1.tripoto.com/media/filter/tst/img/2052077/Image/1650295522_back_water_of_kerala_soul_of_kerala.jpg.webp"></div>
    </div>
    <div class="t2">
        <div class="z3"><img class="ph3" src="https://www.shutterstock.com/image-photo/sunrise-view-tea-plantation-landscape-600nw-533392369.jpg"></div>
        <div class="z4"><img class="ph4" src="https://www.gujarattourism.com/content/dam/gujrattourism/images/weekend-get-aways/great-rann-of-kutch/gallery/Great%20Rann%20Of%20Kutch%20(14).jpg"></div>

    </div>
</div>
<div class="ms">
    <div class="lg">
        <img src="https://www.bajajallianz.com/content/dam/bagic/travel-insurance/travel-insurance-online.png">
    </div>
    <div class="ct">
        <h1>Our Mission</h1>
        <br>
        <br>
<h2> Our mission is to inspire and empower travelers to discover the wonders of the world with confidence and ease. Whether you're seeking a luxurious escape, an adrenaline-fueled adventure, or a cultural immersion, we're here to make your travel dreams a reality.</h2>
<br>
<br>
<h2>Our organization is devoted to maintaining very high service standards and seeks customer satisfaction of the highest level. For that, we constantly review our management procedures and evaluate service delivery. Our strength lies in our qualified and experienced staff members.</h2>
    </div>
</div>
    <div class="m">
        <div class="p1"></div>
        <div class="p2"></div>
        <div class="p3"></div>
        <div class="p4"></div>
    </div>
<footer>
    <div class="foot">
        <div class="wt">
             <div class="f1">
                Need Help?<br><br>
                India<br>
                
                203 Sheel complex mithakadi Ahmedabad Gujarat,<br>
                C. G. Road, Ahmedabad 380009. Gujarat (India)<br>
             </div>
             <div class="f2">   
                Company<br><br>
                About us<br>
                Video Gallery<br>
                Blog<br>
                PNR Status<br>
                Career<br>
                Get Quote<br>
                Online Payment<br>
                Terms and Conditions<br>
                Privacy Policy<br>
                Contact Us<br>
             </div>
             <div class="f3">
                Other Services<br><br>
                Car Rental Services<br>
                Air Ticket<br>
                Train Tickets<br>
                Hotel Booking<br>
                Visa Services<br>
                Events
             </div> 
             <div class="f4">  
                Group Of Companies<br><br>
                Amdavad City Sights<br>
                Heritage Walk Ahmedabad<br>
                Narmada Tent City<br>
                Rann Utsav<br>
                Tourism Awards Gujarat<br>
                Vibrant Fashion Week</h3>
             </div>   
        </div>
    </div>
</footer>    
</body>
</html>
{% endblock %}
